- var featuredDevelopers = [];
- featuredDevelopers.push({name: 'СтройАльянс', description: 'Надежная строительная компания с большим опытом в 10 лет. При строительстве используют только качественные материалы.', img: '/images/isk-algoritm.png', features: [12900000, 12, 10,10], sites: ['Весна 3', 'Муринский Посад', 'Новое Янино', 'ЦДС-Московский']})
- featuredDevelopers.push({name: 'СтройАльянс', description: 'Надежная строительная компания с большим опытом в 10 лет. При строительстве используют только качественные материалы.', img: '/images/isk-algoritm.png', features: [12900000, 12, 10,10], sites: ['Весна 3', 'Муринский Посад', 'Новое Янино', 'ЦДС-Московский']})
- featuredDevelopers.push({name: 'СтройАльянс', description: 'Надежная строительная компания с большим опытом в 10 лет. При строительстве используют только качественные материалы.', img: '/images/isk-algoritm.png', features: [12900000, 12, 10,10], sites: ['Весна 3', 'Муринский Посад', 'Новое Янино', 'ЦДС-Московский']})

section.featured-developers
	.wrap
		.featured-developers__header
			.featured-developers__message Только надежные застройщики Петербурга по версии Domoos
		.featured-developers__list
			each item in featuredDevelopers
				.developer
					a.developer__name--desktop(href="#")= item.name
					.developer__layout--desktop
						a.developer__image-container(href="#")
							.developer__image(style={'background-image': 'url("#{item.img}")'})
						a.developer__name--mobile(href="#")= item.name
						.developer__primary-info
							.developer__description= item.description
							.developer__features
								.feature
									.feature-label Квартиры от:
									.feature-value| #{item.features[0]} ₽
								.feature
									.feature-label В продаже:
									.feature-value| #{item.features[1]} объектов
								.feature
									.feature-label На рынке:
									.feature-value| #{item.features[2]} лет
								.feature
									.feature-label Построено:
									.feature-value| #{item.features[3]} объектов
							.btn.btn__full--yellow.developer__btn-call--mobile Позвонить застройщику
						.developer__tags
							.h5 Новостройки:
							a.tag(href="#")= item.sites[0]
							a.tag(href="#")= item.sites[1]
							a.tag(href="#")= item.sites[2]
							a.tag(href="#")= item.sites[3]
						.developer__contacts
							.developer__phone--title Звоните по горячей линии
							.developer__phone 8 (800) 615-92-51
							.developer__callback
								.developer__callback-title Или оставьте заявку на перезвон
								.developer__callback-form
									input.developer__callback-input(name="phone" type="tel" placeholder="+7")
									input.developer__callback-submit(name="submit" type="submit" value="Отправить" class="btn btn__full btn__full--yellow")
							a.developer__contacts-site(href="#") Cайт застройщика

