include /../node_modules/bemto.jade/bemto

- var items = []
- items.push({ id: 'exchange', tab: 'Обмен на новостройку', title: 'Воспользуйтесь услугой обмена квартиры на новостройку1', text: 'От подбора вариантов до покупки квартиры все услуги портала абсолютно бесплатны. Можете быть уверены, что все обязательства будут выполнены и вы получите то, о чем мечтаете - собственную квартиру по выгодной цене и с минимальными усилиями.', link: 'Узнайте больше по услуге обмена', href: '/', isChecked: true })
- items.push({ id: 'selection', tab: 'Подбор квартиры', title: 'Воспользуйтесь услугой обмена квартиры на новостройку2', text: 'От подбора вариантов до покупки квартиры все услуги портала абсолютно бесплатны. Можете быть уверены, что все обязательства будут выполнены и вы получите то, о чем мечтаете - собственную квартиру по выгодной цене и с минимальными усилиями.', link: 'Узнайте больше по услуге обмена', href: '/',   })
- items.push({ id: 'credit', tab: 'Межрегиональные сделки', title: 'Воспользуйтесь услугой обмена квартиры на новостройку3', text: 'От подбора вариантов до покупки квартиры все услуги портала абсолютно бесплатны. Можете быть уверены, что все обязательства будут выполнены и вы получите то, о чем мечтаете - собственную квартиру по выгодной цене и с минимальными усилиями.', link: 'Узнайте больше по услуге обмена', href: '/',  })
- items.push({ id: 'regions', tab: 'Ипотечные программы', title: 'Воспользуйтесь услугой обмена квартиры на новостройку4', text: 'От подбора вариантов до покупки квартиры все услуги портала абсолютно бесплатны. Можете быть уверены, что все обязательства будут выполнены и вы получите то, о чем мечтаете - собственную квартиру по выгодной цене и с минимальными усилиями.', link: 'Узнайте больше по услуге обмена', href: '/',  })
- items.push({ id: 'programs', tab: 'Ипотечные программы', title: 'Воспользуйтесь услугой обмена квартиры на новостройку5', text: 'От подбора вариантов до покупки квартиры все услуги портала абсолютно бесплатны. Можете быть уверены, что все обязательства будут выполнены и вы получите то, о чем мечтаете - собственную квартиру по выгодной цене и с минимальными усилиями.', link: 'Узнайте больше по услуге обмена', href: '/', })

section.our-services
	.wrap
		.our-services__title Наши услуги
		.our-services__content
			.tabs#main-page-services-tabs
				ul.labels
					each item in items
						li.labels__item(class=item.id ==='exchange' ? 'active' : '')
							label(for='#{item.id}-tab')= item.tab
				.content
					each item in items
						input.content__radio(id='#{item.id}-tab' type="radio" name="tabs" checked= item.isChecked )
						.content__item(id='content-#{item.id}')
							.content__info
								.content__title= item.title
								.content__text= item.text
								a.content__link.to-arrow(href=item.href)= item.link
								+hotcall('home-help-form')
							.content__image
								img.content__image-logotype(src="/images/isk-algoritm.png")
